<div class="container mt-4">
  <h4> Danh sách khóa học đã bị xóa</h4>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
        <tr>
          <th scope="row ">{{@index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td class="d-flex"><a
              href="/me/courses/{{this._id}}/edit"
              class="mr-2 btn btn-primary"
            >Sửa</a>
            <a
              href="/me/courses/{{this._id}}/restore"
              class="btn btn-danger"
            >Restore</a>
          </td>

        </tr>

      {{/each}}
    </tbody>
  </table></div>